<header class="hero">
    <nav class="nav container">
        <a href="#">Inicio</a>
        <a routerLink="/Mis-Viajes">Mis viajes</a>
        <a href="#">Ofertas de vuelos</a>
        <a href="#">Contacto</a>
        <a href="#">Registrarse</a>

        <a data-toggle="modal" data-target="#modelId">Iniciar sesión</a>
        <!-- Button trigger modal -->
        <!-- Modal -->
        <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">INICIAR SESION EN MIS VIAJES</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="container-fluid">
                            <div class="form-row">
                                <div class="form-group col-md-6 mx-auto">
                                    <h5 class="text-center">Correo Electronico</h5>
                                    <input class="form-control" type="email">
                                    <br>
                                    <h5 class="text-center">Contraseña</h5>
                                    <input class="form-control" type="password">
                                    <hr>
                                    <button class="btn btn-info d-block mx-auto" type="submit">Iniciar Sesion</button>
                                </div>
                            </div>

                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar Formulario</button>

                    </div>
                </div>
            </div>
        </div>



    </nav>
    <section class="textos-header">
        <h1>Los mejores vuelos con Vuelos Costa Rica</h1>
        <h2>Volemos juntos</h2>
    </section>
    <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #fff;"></path>
        </svg></div>
</header>