<app-navbar></app-navbar>
<div style="padding-top: 3cm;"></div>
<div class="container">

    <div class="card">

        <div class="card-body">
            <div class="form-row">
                <div class="form-group">
                    <label for="">Correo Electronico</label>
                    <input class="form-control" type="email" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="">Contraseña</label>
                    <input class="form-control" type="password" required>
                </div>
                <br>
                <div class="form-group">
                   <button class="btn btn-success" type="submit">Iniciar Sesion</button>
                </div>
            </div>
        </div>
    </div>


</div>