<app-navbar></app-navbar>
<main>
    <section class="contenedor sobre-nosotros">
        <h2 class="titulo">Nuestro producto</h2>
        <div class="contenedor-sobre-nosotros">
            <img src="/assets/Inicio/ilustracion2.svg" alt="" class="imagen-about-us">
            <div class="contenido-textos">
                <h3><span>1</span>Los mejores productos</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt veniam eius aspernatur ad
                    consequuntur aperiam minima sed dicta odit numquam sapiente quam eum, architecto animi pariatur,
                    velit doloribus laboriosam ut.</p>
                <h3><span>2</span>Los mejores productos</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt veniam eius aspernatur ad
                    consequuntur aperiam minima sed dicta odit numquam sapiente quam eum, architecto animi pariatur,
                    velit doloribus laboriosam ut.</p>
            </div>
        </div>
    </section>
    <section class="Destino">
        <div class="contenedor">
            <h2 class="titulo">Destinos</h2>
            <div class="galeria-port">
                <div class="imagen-port">
                    <img src="/assets/Inicio/San José.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="/assets/Inicio/icono1.png" alt="">
                        <p>Costa Rica</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="/assets/Inicio/mexico.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="/assets/Inicio/icono1.png" alt="">
                        <p>México</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="/assets/Inicio/Miami.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="/assets/Inicio/icono1.png" alt="">
                        <p>Miami</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="/assets/Inicio/_Ciudad_de_Guatemala.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="img/icono1.png" alt="">
                        <p>Guatemala</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="/assets/Inicio/Panamá.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="/assets/Inicio/icono1.png" alt="">
                        <p>Panamá</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="/assets/Inicio/Brasil.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="/assets/Inicio/icono1.png" alt="">
                        <p>Brasil</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="/assets/Inicio/Alemania.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="/assets/Inicio/icono1.png" alt="">
                        <p>Alemania</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="/assets/Inicio/Japón.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="/assets/Inicio/icono1.png" alt="">
                        <p>Japón</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="clientes contenedor">
        <h2 class="titulo">Que dicen nuestros clientes</h2>
        <div class="cards">
            <div class="card">
                <img src="/assets/Inicio/face1.jpg" alt="">
                <div class="contenido-texto-card">
                    <h4>Name</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, sapiente!</p>
                </div>
            </div>
            <div class="card">
                <img src="/assets/Inicio/face2.jpg" alt="">
                <div class="contenido-texto-card">
                    <h4>Name</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, sapiente!</p>
                </div>
            </div>
        </div>
    </section>
    <section class="about-services">
        <div class="contenedor">
            <h2 class="titulo">Nuestros servicios</h2>
            <div class="servicio-cont">
                <div class="servicio-ind">
                    <img src="/assets/Inicio/ilustracion1.svg" alt="">
                    <h3>Name</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, qui?</p>
                </div>
                <div class="servicio-ind">
                    <img src="/assets/Inicio/ilustracion4.svg" alt="">
                    <h3>Name</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, qui?</p>
                </div>
                <div class="servicio-ind">
                    <img src="/assets/Inicio/ilustracion3.svg" alt="">
                    <h3>Name</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, qui?</p>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <div class="contenedor-footer">
        <div class="content-foo">
            <h4>Inicio</h4>

        </div>
        <div class="content-foo">
            <h4>Email</h4>

        </div>
        <div class="content-foo">
            <h4>Location</h4>

        </div>
    </div>
    <h2 class="titulo-final">&copy;2021 Vuelos Costa Rica | Reservados todos los derechos</h2>
</footer>